@media screen and (max-width: 1000px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Bai Jamjuree', sans-serif;
    }
    main{
        width: 100vw;
        height: auto;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0rem 0rem;
            .header{
                width: 100%;
                background-image: url(/images/bg-header-mobile.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 7rem 1rem;
                text-align: center;
                .text-banner{
                    width: 100%;
                    margin-top: 3rem;
                    h1{
                        padding:0rem 1rem;
                        font-size: 30px;
                        font-weight: 600;
                        color: $DarkGrayishBlue;
                    }
                    p{
                        font-size: 15px;
                        color: $GrayishBlue;
                        padding: 1rem 1.7rem;
                        line-height: 1.9rem;
                        span{
                            display: contents;
                        }
                    }
                }
                .download-box{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    width: 90%;
                    margin-top: 2rem;
                    .ios{
                        width: 100%;
                        font-size: 18px;
                        font-weight: 600;
                        color:white ;
                        background-color: $StrongCyan;
                        border-radius: 2rem; 
                        padding: 0.9rem 2.2rem;
                        border-bottom: 3px solid #239f87;
                        letter-spacing: 0.5px;
                        box-shadow: 0px 5px 10px #77e5cf8d;
                        cursor: pointer;
                    }
                    .ios:hover{
                        background-color:#5dccbb;
                    }
                    .mac{
                        margin-top: 1.5rem;
                        width: 100%;
                        letter-spacing: 0.5px;
                        font-size: 18px;
                        font-weight: 500;
                        color:white ;
                        background-color: #5e73ff;
                        border-radius: 2rem; 
                        padding: 0.9rem 2.2rem;
                        border-bottom: 3px solid #5261d8;
                        box-shadow: 0px 5px 10px #cacacaa3;
                        cursor: pointer;
                    }
                    .mac:hover{
                        background-color: #8896ff;
                    }
                }
            }
            .container-wrapper{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                width: 100%;
                padding: 0rem 1rem;
                .box1{
                    width: 100%;
                    margin-top: 2rem;
                    h1{
                        font-size: 28px;
                        font-weight: 600;
                        color: $DarkGrayishBlue;
                    }
                    p{
                        font-size: 16px;
                        color: $GrayishBlue;
                        padding: 1rem 1rem;
                        line-height: 1.9rem;
                        span{
                            display: contents;
                        }
                    }
                   
                }
                .box2{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 4rem 1rem;
                    justify-content: center;
                    align-items: center;
                    
                    .computer{
                        width: 100%;
                        position: relative;
                        .imac{
                            width: 90%;
                            margin-left: 0px;
                        }
                    }
                    .computer-solution{
                        width: 100%;
                        text-align: center;
                        margin: 0rem 0rem;
                        .solution{
                            margin: 2rem 0rem;
                            h2{
                                font-size: 24px;
                                font-weight: 600;
                                color: #4d545e;
                            }
                            p{
                                font-size: 16px;
                                color: $GrayishBlue;
                                padding: 0.5rem 1.5rem;
                                line-height: 1.9rem;
                                margin-right: 0rem;
                            }
                        }
                    }
                }
                .box3{
                    width: 100%;
                    margin: 3rem 0rem 6rem 0rem;
                    h1{
                        font-size: 28px;
                        font-weight: 600;
                        color: $DarkGrayishBlue;
                    }
                    p{
                        font-size: 16px;
                        color: $GrayishBlue;
                        padding: 1.3rem 1rem;
                        line-height: 1.9rem;
                        span{
                            display: contents;
                        }
                    }
                }
                .device{
                    .device-picture{
                        width: 100%;
                    }
                }
                .box4{
                    width: 100%;
                    margin-top: 5rem;
                    h1{
                        font-size: 28px;
                        font-weight: 600;
                        color: $DarkGrayishBlue;
                    }
                    p{
                        font-size: 18px;
                        color: $GrayishBlue;
                        padding: 1.3rem 0rem;
                        line-height: 1.9rem;
                    }
                    .workflow{
                        margin: 2rem 0.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        text-align: center;
                        
                        .workflow-box{
                            width: 100%;
                            img{
                                margin: 2rem 0rem 3rem 0rem;
                            }
                            h2{
                                font-size: 22px;
                                font-weight: 600;
                                color: $DarkGrayishBlue;
                            }
                            p{
                                font-size: 16px;
                                color: $GrayishBlue;
                                padding: 1.3rem 0.5rem;
                                line-height: 1.9rem;
                               
                            }
                        }
                        .workflow-box-first{
                            width: 100%;
                            img{
                                margin: 2rem 0rem 3rem 0rem;
                            }
                            h2{
                                font-size: 22px;
                                font-weight: 600;
                                color: $DarkGrayishBlue;
                            }
                            p{
                                font-size: 16px;
                                color: $GrayishBlue;
                                padding: 1.3rem 0.5rem;
                                line-height: 1.9rem;
                               
                            }
                        }
                        
                    }
                }
                .box5{
                    width: 100%;
                    padding: 3rem 0rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin: 2rem 0rem;
                    }
                }
                .box6{
                    width: 100%;
                    margin: 5rem 0rem 8rem 0rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h1{
                        font-size: 28px;
                        font-weight: 600;
                        color: $DarkGrayishBlue;
                    }
                    p{
                        font-size: 16px;
                        color: $GrayishBlue;
                        padding: 1.5rem 1.2rem;
                        line-height: 1.9rem;
                        span{
                            display:contents;
                        }
                    }
                    .download-box{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        margin-top: 1.5rem;
                        .ios{
                            width: 100%;
                            font-size: 18px;
                            font-weight: 600;
                            color:white ;
                            background-color: $StrongCyan;
                            border-radius: 2rem; 
                            padding: 0.9rem 2.2rem;
                            border-bottom: 3px solid #239f87;
                            letter-spacing: 0.5px;
                            box-shadow: 0px 5px 10px #77e5cf8d;
                            cursor: pointer;
                        }
                        .ios:hover{
                            background-color:#5dccbb;
                        }
                        .mac{
                            margin-top: 1.5rem;
                            width: 100%;
                            letter-spacing: 0.5px;
                            font-size: 18px;
                            font-weight: 500;
                            color:white ;
                            background-color: #5e73ff;
                            border-radius: 2rem; 
                            padding: 0.9rem 2.2rem;
                            border-bottom: 3px solid #5261d8;
                            box-shadow: 0px 5px 10px #cacacaa3;
                            cursor: pointer;
                        }
                        .mac:hover{
                            background-color: #8896ff;
                        }
                    }
                }
            }
            .footer{
                padding: 3rem 1rem;
                width: 100%;
                background-color: #f5f6f8;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .footer-wrapper{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;
                    .logo{
                        img{
                            width: 45%;
                        }
                    }
                    .menu{
                        margin: 1.5rem 0rem;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        margin-left: 0rem;
                        .menu-box{
                            
                            padding-right: 0rem;
                            .menu-item{
                                margin-bottom: 1.5rem;
                                color: #5f6064;
                                font-size: 18px;
                                font-weight: 400;
                            }
                            .menu-item:hover{
                                color: $StrongCyan;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .social{
                    svg{
                        margin: 0rem 0.5rem;
                        cursor: pointer;
                    }
                    .socialmedia:hover{
                        fill: $StrongCyan;
                    }
                }
                
               
            }
        }
    }
    
}